body
  +theHeader
  +theInput
  +theReplacer


template(name="theInput")
  .container.col-lg-2
  .container.col-lg-8
      textarea#theInput.form-control.inputWithMargin(rows="8", name='theCode', type='textarea', placeholder='Input')
      textarea#theOutput.form-control(rows="8", name='theCode', type='textarea', placeholder='Output')

template(name="theReplacer")
  .row
    .col-lg-2
    .col-lg-4
      span.input-group-button
        input.form-control(type="text")

template(name="theHeader")
  nav.navbar.navbar-default.navbar-static-top
    span.appTitle Shorthand
    span.navbar-right
      +loginButtons
