body
  br
  br
  br
  +theInput



template(name="theInput")
  .col-lg-3
  .container.col-lg-6
    .input-group.input-group-lg
      textarea#theCode.form-control(rows="3", columns="50", name='theCode', type='textarea', placeholder='Input')
    .input-group.input-group-lg
      textarea#theCode.form-control(rows="3", columns="50", name='theCode', type='textarea', placeholder='Output')
